@import "abstracts/settings";
@import "abstracts/mixins";

body {
  font-family: $sans-font;
  font-size: 18px;
  line-height: 1.15;
  background: $white;
  font-weight: 300;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}

.menu {
  list-style: none;
  li {
    text-align: right;
  }
}

.title {
  font-family: $sans-font;
  font-weight: 300;
  font-style: normal;
}


.navigation {
  width: 100vw;
  @include app-margin;
}

@include tablet {
  .columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  #prozess .body {
    padding-left: 156px;
    padding-right: 156px;
  }
}